// _main.scss

/********/
/* Main */
/********/

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    /* Params: font-family, margin-top, margin-bottom, text-transform */
    @include estilo-titulo($fuente-roboto, 20px, 10px, uppercase);
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
}

.introP {
    /* Params: font-family, margin-top, margin-bottom, text-transform */
    @include estilo-titulo($fuente-roboto, 20px, 10px, uppercase);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $color-texto;
    margin: 20px 0;
}

.tituloH2 {
    /* Params: font-family, margin-top, margin-bottom, text-transform */
    @include estilo-titulo($fuente-roboto, 20px, 10px, uppercase);
    font-size: 24px;
    font-weight: bold;
    color: $color-principal;
    border-bottom: $borde-delgado;
    padding-bottom: 5px;

}

.tituloH2Destacado {
    /* Params: font-family, margin-top, margin-bottom, text-transform */
    @include estilo-titulo($fuente-roboto, 20px, 10px, uppercase);
    font-size: 24px;
    font-weight: bold;
    color: $color-principal;
    border-bottom: $borde-grueso;
    padding-bottom: 5px;
}

.parrafosLargos {
    font-size: 16px;

    /* Espaciado entre lineas para mejorar la legibilidad */
    line-height: 1.6;
    color: $color-texto;

    /* Espaciado superior para separar el parrafo del titulo */
    margin-top: 10px;
}

/* Estilo para el boton "Volver arriba" */
.btnArriba {
    /* Params: background-color, color, border, padding, border-radius, font-size, &:hover.background-color */
    @include estilo-boton($color-principal, #fff, none, 10px 20px, $borde-radius, $tamano-botones, $btn-hover-color);
    margin-right: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;

    &:hover {
        transform: scale(1.1);
    }
}

/******/
/*BLOG*/
/******/

a.blogLink {
    display: inline;
    color: $color-principal;
    /* Tamano de fuente mas pequeno para el enlace */
    font-size: 12px;
    /* Elimina el subrayado predeterminado */
    text-decoration: none;
    /* Texto en negrita */
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

/***********/
/* IFRAMES */
/***********/

/* Se utilizan iframes en las paginas del blog y en la de contacto */
/* Estilo para el iframe de los articulos del blog */

.entradasBlog article iframe {
    display: block;

    /* Agregar margen para separacion y evitar superposicion */
    margin: 0 20px 20px 0;
}

iframe {
    display: block;
    margin: auto;
}


/***********/
/* Eventos */
/***********/

.introEventos {
    font-family: $fuente-roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $color-texto;

    /* Espaciado superior e inferior */
    margin: 20px 0;
}

/* Estilo para las descripciones de eventos */
.contenedorEventos p {
    font-size: 16px;
    line-height: 1.6;
    /* Color de texto personalizado */
    color: $color-texto-secundario;
    margin: 10px 0;
}

.fechaEvento {
    font-size: 14px;
    color: $color-principal;
    margin-bottom: 10px;
}


/************/
/*** MENU ***/
/************/

/* Estilo para el contenedor de items en el menu */
.contenedorMenu {
    /* Params: display, flex-wrap, margin, max-width, padding, border-radius */
    @include estilo-contenedor(flex, wrap, 20px auto, null, null, 10px);
}

/* Estilo para cada item del menu */
.itemMenu {
    max-width: 300px;
    margin: 10px;
    padding: 24px;
    border: $borde-grueso;
    border-radius: 10px;
    background-color: #f0f0f0;
}

/* Estilo para la imagen dentro del item de menu */

.imgMenu {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Convertir la imagen a escala de grises al 50% para poder aplicar efecto hover */
    filter: grayscale(50%);

    &:hover {
        /* Convertir la imagen a escala de grises al 0% provocando que resalte al pasar el cursor por encima */
        filter: grayscale(0%);
    }
}

/* Estilo para el precio en el menu */
.contenedorMenu p {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 8px;

    /* Espacio entre la imagen y el precio */
    margin-top: 10px;

    /* Elimina el margen inferior para reducir el espacio vacio */
    margin-bottom: 0;
}


/*************/
/* Servicios */
/*************/

/* Estilo para las descripciones de servicios */
.contenedorServicios p {
    font-size: 16px;
    line-height: 1.6;
    /* Color de texto personalizado */
    color: $color-texto-secundario;
    margin: 10px 0;
}

/**********/
/* Tienda */
/**********/

/* Estilo para el titulo del producto */
.tituloH2Productos {
    font-size: 20px;
    margin: 10px 0;
    color: $color-texto;
    text-shadow: $box-shadow;
}

/* Estilo para el contenedor de productos */
.contenedorProductos {
    /* Params: display, flex-wrap, margin, max-width, padding, border-radius */
    @include estilo-contenedor(flex, wrap, 20px auto, none, 0, 10px);
    justify-content: center;

    /* Estilo para cada producto individual */
    article {
        width: 300px;
        margin: 10px;
        padding: 16px;
        border: $borde-grueso;
        border-radius: 10px;
        background-color: #f0f0f0;
        box-shadow: $box-shadow;
        /* Efecto de transicion */
        transition: transform 0.3s ease-in-out;

        /* Efecto de escala al pasar el raton sobre un producto */
        &:hover {
            transform: scale(1.05);
        }
    }
}

/* Estilo para la imagen del producto */
.imgProducto {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilo para la descripcion del producto */
.contenedorProductos article p {
    max-width: 100%;
    overflow: hidden;

    /* Agrega puntos suspensivos (...) al final si el texto es demasiado largo */
    text-overflow: ellipsis;

    /* Acorta el texto */
    white-space: nowrap;
}

/* Estilo para el precio del producto */
.precio {
    font-weight: bold;
    color: $color-principal;
    margin: 10px 0 20px;
}

/* Estilo para el boton "Comprar" */
.btnComprar {
    /* Params: background-color, color, border, padding, border-radius, font-size, &:hover.background-color */
    @include estilo-boton($color-principal, #fff, none, 10px 20px, $borde-radius, 18px, $btn-hover-color);
    width: 100%;
}


/****************/
/****CONTACTO****/
/****************/

/* Estilo para el formulario de contacto */

.formularioContacto {
    font-size: 16px;

    /* Limitar el ancho del formulario */
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: $borde-grueso;
    border-radius: 10px;

    /* Agregar una sombra sutil */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    label {
        font-weight: bold;
        margin-bottom: 8px;
        display: block;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: $borde-radius;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: $borde-radius;
        box-sizing: border-box;

        /* Permite redimensionar solo verticalmente */
        resize: vertical;
    }

    button {
        /* Params: background-color, color, border, padding, border-radius, font-size, &:hover.background-color */
        @include estilo-boton($color-principal, #fff, none, 10px 20px, $borde-radius, $tamano-botones, $btn-hover-color);
    }
}

/* Estilo para la ubicacion */
.mapaContainer {
    border: $borde-grueso;
    border-radius: 10px;
    max-width: 100%;
    font-size: 14px;
    padding: 0;
    margin-top: 10px;
    display: inline-block;
    /* Ocultar cualquier contenido que sobresalga */
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
    }
}