// _variables.scss

/////////////
// Colores //
/////////////
$color-fondo: #F5F5DC;
$color-header: #A0522D;
$color-texto: #333;
$color-enlace: #A0522D;
$color-hover: #7D3C16;

/////////////
// Fuentes //
/////////////
$fuente-roboto: 'Roboto', sans-serif;

///////////
// Otros //
///////////
$tamano-botones: 16px;
$borde-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
